body {
    margin: 5px;
}

.summary-page {
    display: flex;
    justify-content: center;
}

@media (max-width: 650px) {
    .summary-page {
        flex-direction: column;
    }
}

.section-information {
    border: solid 1px rgb(34, 34, 66);
}

.section-information_header,
.section-information_subheader {
    text-align: center;
}

.section-information_title {
    margin: 0 15px 0 15px;
    padding: 2px 0 0 5px;
    font-weight: bold;
    border-top: solid 1px blue;
    border-bottom: solid 1px blue;
    border-radius: 5px;
    background: rgba(0, 0, 255, 0.055);
}

.section-information_time {
    margin: 15px;
}

.section-information_caption {
    font-weight: bold;
}

.section-information_content {
    font-size: 15px;
    margin-left: 150px;
}

@media (max-width: 650px) {
    .section-information_content {
        margin-left: 15px;
    }
}

.section-aside {
    width: auto;
    color: white;
    background: rgb(34, 34, 66);
}

.section-aside_avatar {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.section-aside_headline {
    padding-left: 15px;
    color: white;
    background: rgba(0, 0, 255, 0.151);
}

.section-information_text {
    margin-left: 70px;
    font-weight: bold;
}

.section-information_blockquote {
    width: 55%;
}

.footer-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 350px 10px 0 10px;
}

@media (max-width: 650px) {
    .footer-wrap {
        margin: 50px 10px 50px 10px;
    }
}

.fa-github {
    font-size: 90px;
}

.footer-img {
    height: 90px;
}

code {
    padding: 10px 20px;
    display: block;
    border-radius: 3px;
    background: rgba(169, 169, 169, 0.274);
    border-left: 3px solid lightgray;
}

a {
    color: rgb(0, 0, 255);
    text-decoration: none;
}
