.page {
  display: flex;
  justify-content: center;
}

.page__wrapper {
  box-shadow: 0 0 15px 0 blue;
  border-style: outset;
}

.header {
  display: flex;
  border-style: inset;
  box-shadow: 0 0 15px 0 blue;
}

@media (max-width: 861px) {
  .header {
    justify-content: space-evenly;
    border-bottom: solid 3px rgb(34, 34, 66);
  }
}

@media (max-width: 590px) {
  .header {
    flex-direction: column;
    align-items: center;
  }
}

.header__inner-wrap {
  width: 29.1%;
  display: flex;
  justify-content: center;
  padding: 15px 0 25px 0;
  background: rgb(34, 34, 66);
}

@media (max-width: 861px) {
  .header__inner-wrap {
    margin-left: 30px;
    width: 30%;
    background: white;
    color: black;
  }
}

.header__img {
  border-style: inset;
  box-shadow: 0 0 15px 0 blue;
  -webkit-animation: animationPhoto 5s ease-in-out infinite;
  animation: animationPhoto 5s ease-in-out infinite;
  border-radius: 15px;
}

@-webkit-keyframes animationPhoto {
  from,
  to {
    opacity: 0.8;
  }
  50% {
    opacity: 1;
  }
}

@keyframes animationPhoto {
  from,
  to {
    opacity: 0.8;
  }
  50% {
    opacity: 1;
  }
}

.header__popup {
  margin-top: 15px;
  position: absolute;
  width: 200px;
  height: 200px;
  opacity: 0;
  transition: all 1s ease-out;
}

.header__popup:hover {
  opacity: 1;
  transform: scale(1.1);
  cursor: none;
}

.header__popup-text {
  margin-left: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
  width: 92%;
  height: 25px;
  font-weight: bold;
  font-size: 25px;
  color: black;
  border-bottom: solid 1px blue;
  background: white;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  box-shadow: 0 0 15px 0 blue;
}

.header__popup-qrcode {
  margin-left: 10px;
  width: 92%;
  height: 92%;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: 0 0 15px 0 blue;
}

.header__title-box {
  width: 70.85%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  background: rgb(34, 34, 66);
}

@media (max-width: 861px) {
  .header__title-box {
    margin: 0 0 0 10px;
    width: 90%;
    background: white;
    color: black;
  }
}

.header__title {
  font-size: 33px;
  font-weight: bold;
}

@media (max-width: 861px) {
  .header__title {
    margin-left: 20px;
    font-size: 20px;
  }
}

@media (max-width: 861px) {
  .header__subtitle {
    font-size: 10px;
  }
}

@media (max-width: 390px) {
  .header__title {
    margin-left: 20px;
    font-size: 15px;
  }
}

@media (max-width: 391px) {
  .header__subtitle {
    font-size: 7px;
  }
}

.article {
  display: flex;
  justify-content: center;
}

@media (max-width: 650px) {
  .article {
    flex-direction: column;
  }
}

.aside {
  width: 450px;
  color: white;
  background: rgb(34, 34, 66);
  border-style: inset;
  box-shadow: 0 0 15px 0 blue;
}

@media (max-width: 650px) {
  .aside {
    width: auto;
  }
}

.aside__headline {
  padding-left: 15px;
  color: white;
  background: rgba(0, 0, 255, 0.151);
}

.aside__list-contacts,
.aside__list-skills {
  list-style-type: none;
}

.aside__avatar {
  margin-top: 15px;
  display: flex;
  justify-content: center;
}

.aside__footer-wrap {
  margin: 250px 10px 80px 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

@media (max-width: 650px) {
  .aside__footer-wrap {
    margin: 50px 10px 50px 10px;
  }
}

@media (max-width: 1260px) {
  .aside__footer-wrap {
    margin: 250px 10px 0 10px;
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 650px) {
  .aside__footer-wrap {
    margin: 150px 10px 130px 0;
  }
}

.fa-github,
.fa-youtube {
  font-size: 90px;
}

@media (max-width: 1250px) {
  .aside__footer-school {
    margin: 90px 20px 90px 0;
  }
}

@media (max-width: 430px) {
  .aside__footer-school {
    margin: 80px 20px 60px 0;
  }
}

.aside__footer-img {
  height: 90px;
  transition: all 1s ease-out;
}

.aside__footer-img:hover {
  opacity: 1;
  transform: scale(1.1);
}

.portfolio__list {
  margin-left: -40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  list-style-type: none;
}

.portfolio__item-img {
  margin: 5px;
  width: 150px;
  height: 150px;
  border-radius: 10px;
  cursor: pointer;
}

.portfolio__item-description {
  text-align: center;
  font-size: 15px;
  color: white;
}

.portfolio__item-img:hover {
  box-shadow: 0 0 8px 0 white;
  transition: 0.5s;
}

.progress {
  -webkit-animation: animationProgress 5s ease-in-out infinite;
  animation: animationProgress 5s ease-in-out infinite;
}

@-webkit-keyframes animationProgress {
  from,
  to {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
}

@keyframes animationProgress {
  from,
  to {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
}

.section-information__title {
  margin: 18px 15px 0 15px;
  padding: 2px 0 0 5px;
  font-weight: bold;
  border-top: solid 1px blue;
  border-bottom: solid 1px blue;
  border-radius: 5px;
  background: rgba(0, 0, 255, 0.055);
}

.section-information__time {
  margin: 15px;
}

.section-information__caption {
  font-weight: bold;
}

.section-information__content {
  margin-left: 150px;
  font-size: 20px;
}

@media (max-width: 650px) {
  .section-information__content {
    margin-left: 15px;
  }
}

.section-information__text {
  margin-left: 70px;
  font-weight: bold;
}

.section-information__blockquote {
  width: 55%;
}

.section-information__content-item {
  width: 80%;
  text-align: center;
  background: rgba(125, 125, 207, 0.095);
  box-shadow: 0 0 5px 0 rgba(0, 0, 255, 0.404);
  border-radius: 15px;
  font-size: 20px;
}

a {
  color: rgb(102, 102, 163);
  text-decoration: none;
  -webkit-animation: animationLink 5s ease-in-out infinite;
  animation: animationLink 5s ease-in-out infinite;
}

@-webkit-keyframes animationLink {
  from,
  to {
    color: blue;
  }
  50% {
    color: red;
  }
}

@keyframes animationLink {
  from,
  to {
    color: blue;
  }
  50% {
    color: red;
  }
}
