body {
    margin: 5px;
}

.page-wrap {
    display: flex;
    justify-content: center;
}

@media (max-width: 650px) {

    .page-wrap {
        flex-direction: column;
    }

}

.section-information {
    border: solid 1px rgb(34, 34, 66);
}

.section-information__header,
.section-information__subheader {
    text-align: center;
}

.section-information__title {
    margin: 0 15px 0 15px;
    padding: 2px 0 0 5px;
    font-weight: bold;
    border-top: solid 1px blue;
    border-bottom: solid 1px blue;
    border-radius: 5px;
    background: rgba(0, 0, 255, 0.055);
}

.section-information__time {
    margin: 15px;
}

.section-information__caption {
    font-weight: bold;
}

.section-information__content {
    font-size: 15px;
    margin-left: 150px;
}

@media (max-width: 650px) {
    .section-information__content {
        margin-left: 15px;
    }
}

.section-aside {
    width: 450px;
    color: white;
    background: rgb(34, 34, 66);
}

@media (max-width: 650px) {
    .section-aside {
        width: auto;
    }
}

.section-aside__avatar {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.section-aside__headline {
    padding-left: 15px;
    color: white;
    background: rgba(0, 0, 255, 0.151);
}

.section-information__text {
    margin-left: 70px;
    font-weight: bold;
}

.section-information__blockquote {
    width: 55%;
}

.footer-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 350px 10px 0 10px;
}

@media (max-width: 650px) {
    .footer-wrap {
        margin: 50px 10px 50px 10px;
    }
}

.fa-github {
    font-size: 90px;
}

.footer-img {
    height: 90px;
}

code {
    padding: 10px 20px;
    display: block;
    border-radius: 3px;
    background: rgba(169, 169, 169, 0.274);
    border-left: 3px solid lightgray;
}

a {
    color: rgb(102, 102, 163);
    text-decoration: none;
}
